:root {
    --main-color: #fff;
    --second-color: #F6F7F8;
    --btn-color: #108910;
    --main-transition: 0.5s;
    --text-color: #343538;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style: none;
}
.header {
    padding: 15px;
    box-shadow: 0px 1px 2px;
    z-index: 2999;
    position: fixed;
    width: 100%;
    background-color: var(--second-color);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header .container .header-left,
.header .container .div-search 
.header .container .div-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .container .header-left .links-bars {
    position: absolute;
    background: var(--text-color);
    color: white;
    top: 55px;
    width: 70%;
    left: 0;
    display: none;
    transition: var(--main-transition);
}

.header .container .header-left .links-bars .links {
    margin: 0 25px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header .container .header-left .links-bars .links li {
    font-size: 40px;
    margin: 20px 0px 25px 0px;
}
.header .container .header-left .links-bars .links li:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}
.header .container .header-left .bars {
    width: 45px;
    cursor: pointer;

}
.header .container .header-left .delivery-icon {
    width: 25px;
}
.header .container .header-left .header-text span {
    color: green;
}
.header .container .div-search {
    width: 50%;
    position: relative;
}
.header .container .div-search input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    z-index: -5;
    background-color: var(--main-color);
    border: none;

}
.header .container .div-search input[placeholder] {
    font-weight: bolder;
    padding: 20px;
    color: var(--main-color);
}
.header .container .div-search .search-icon {
    position: absolute;
    transform: translateY(-50%);
    bottom: -2px;
    color: var(--main-color) !important;
}
.header .container .div-button .btn {
    border-radius: 20px;
    font-size: 17px;
    color: var(--main-color);
    padding: 8px 16px;
    background-color: var(--btn-color);
    cursor: pointer;
    border: none;
}
.header .container .div-button .login {
    background-color: #fff;
    color: black;
    border: none;
    font-weight: bold;
}
@media (max-width:797px) {
    .header {
        width: 100%;
        background: var(--second-color);
    }
    .header .container {
        display: flex;

    }
    .header .header-text {
        font-size: 20px;
        margin-left: 6px;
    } 
    .header .container .div-search {
        display: none;
    }
    .header .container .div-button {
        width: 100%;
    }
}

/* End Header */
.landing {
    width: 100%;
    background: url('images/landing.webp');
    background-repeat: no-repeat;
    min-height: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 32px;
    background-position: right center;
    background-color: #deedd6;
}
.landing .container {
    padding-top: 50px;
}
.landing .container  .countries {
    margin: 50px 15px 0;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 25px;
}

.landing .container  .countries .eg,
.landing .container  .countries .sa{
    font-size: 15px;
}

.landing .container .landing-text {
    padding: 5px 0 24px 144px;
}
.landing .container .landing-text h2 {
    font-size: 50px;
    line-height: 52px;
    font-weight: bolder;
    color: #001810;
    margin: 0;
    width: 578px;
}
.landing .container .landing-text p {
    margin-top: 25px;
    font-size: 25px;
    color: #444;
}

@media (max-width: 797px) {
    .landing .container {
        padding: 0;
    }
    .landing .container  .countries {
        display: none;
    }
    .landing .container .landing-text  {
        padding: 100px 50px;
        margin-top: 50px;
    }
    .landing .container .landing-text h2 {
        font-size: 29px;
        line-height: 32px;
        font-weight: 600;
        font-variation-settings: "wght" 700,"opsz" 8;
        --ids-typography-name: titleLarge;
        width: 256px;
    }

    .landing .container .landing-text  p {
        display: none;
    }
}
/* End landing */
.shops {
    width: 100%;
}
.shops .container .shops-text {
    font-size: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.shops  .container .shops-text a {
    color: var(--btn-color);
}
.shops .container .shops-text a:hover {
    text-decoration: underline;
}
.shops .container img {
    max-width: 200px;
}
.shops .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap:40px;
    margin-left: 50px;
}
@media (max-width: 797px) {
    .shops .container .boxes {
        margin: 0;
    }
}
.shops .container .boxes .box {
    display: flex;
    border: 1px solid var(--second-color);
    box-shadow: 0px 0px 10px var(--second-color);
    border-radius: 20px; 
    cursor: pointer;
    transition: var(--main-transition);
    padding: 10px;
}
.shops .container .boxes .box:hover {
    box-shadow: 0px 0px 20px var(--second-color);
}
.shops .container .boxes .box img {
    border: 1px solid var(--second-color);
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.shops .container .boxes .box .text-box {
    margin: 10px 15px;
}
.shops .container .boxes .box .text-box h2 {
    margin-bottom: 5px;
    font-size: 30px;
}
.shops .container .boxes .box .text-box p {
    color: var(--btn-color);
    font-weight: 800;
}
.shops .container .Show-all {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
}
.shops .container .Show-all a {
    color: var(--btn-color);
    font-size: 30px;
    font-weight: 900;
}
/* End Shops */
.Grocery {
    width: 100%;
}
.Grocery .container {
    font-size: 25px;
    margin-bottom: 100px;
    text-align: center;
}
.Grocery .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap: 20px;
    margin-top: 50px;
    margin-left: 60px;
}
@media(max-width: 797px) {
    .Grocery .container .boxes {
        margin: 0;
    }
 }
.Grocery .container .boxes .box {
    background-color: var(--second-color);
    border-radius: 20px;
}

.Grocery .container .boxes .box h2{
    color: var(--text-color);
    font-size: 21px;
    margin: 25px 0;
}
.Grocery .container .boxes .box p {
    color: var(--text-color);
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
}

.Grocery .container .boxes img {
    max-width: 100%;
    border-radius: 25px;
}
/* End Grocery */
.online-shop {
    text-align: center;
    width: 100%;
}
.online-shop .container {
    margin: 50px;
}
.online-shop .container .image {
    background-image: url('../images/onlineshop.webp');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 36%;
    border-radius: 8px;
    margin-bottom: 16px;
}
.online-shop .container h1 {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.online-shop .container .boxes {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.online-shop .container .boxes .box {
    background: var(--second-color);
    margin-left: 25px;
    padding: 32px;
}
.online-shop .container .boxes .box h1,
.online-shop .container .boxes .box p{
    font-size: 23px;
    line-height: 28px;
    font-weight: 400;
    color: var(--text-color);
}
.online-shop .container .boxes .box h1 {
    font-weight: 900;
}
@media (max-width:797px) {
    .online-shop .container .boxes {
        flex-direction: column;
    }
    .online-shop .container .boxes .box {
        margin-bottom: 15px;
    }
}
/* End Online-Shop */
.common-questions {
    text-align: center;
    width: 100%;
  }
  
  .common-questions h1 {
    margin-bottom: 50px;
  }
  
  .common-questions .container {
    max-width: 950px;
    margin: 0 auto;
    padding: 32px 32px 60px;
  }
  
  .common-questions .container .boxes {
    display: flex;
    flex-direction: column;
  }
  
  .common-questions .container .boxes .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    cursor: pointer;
  }
  
  .common-questions .container .boxes .box h3 {
    font-size: 28px;
    float: left;
    color: var(--text-color);
  }
  
  .common-questions .container .boxes .box .plus {
    font-size: 45px;
  }
  
  .common-questions .container .answer {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    border-bottom: 1px solid #4445;
    padding-bottom: 5px;
    margin-bottom: 18px;
  }
  
  .common-questions .container .answer p {
    line-height: 26px;
    font-size: 20px;
    width: 100%;
  }
/* End Common */
.footer {
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--text-color) ;
}
.footer .container {
    font-size: 25px;
    text-align: center;
}
.footer .container .info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .container .info .info-app {
    margin-right: 150px;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer .container .info .info-app h3 {
    margin-right: 150px;
}
.footer .container .info .info-app h3 span {
    color: var(--btn-color);
}
.footer .container .info .info-app a {
    color: black;
    margin-right: 25px ;
}
.footer .container .info .info-helper {
    margin-top: 50px;
}
.footer .container .info .info-helper h4 {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--text-color);
}
.footer .container .info .info-helper .links li {
    margin-bottom: 15px;
}
.footer .container .info .info-helper .links li:nth-last-child(2),
.footer .container .info .info-helper .links li:nth-last-child(3) {
    border-bottom: 1px solid var(--text-color);
}
.footer .copyright {
    font-size: 25px;
    width: 100%;
    border-top: 1px solid var(--text-color);
}
.footer .copyright span {
    color: var(--btn-color);
}
@media(max-width:797px) {
    .footer .container .info {
        flex-direction: column;
    }
    .footer .container .info .info-app {
        flex-direction: column;
        margin: 0;
    }
    .footer .container .info .info-app h3 {
        margin: 0 0 25px;
    }
}
